<template>
<span>
    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn dark color="primary" v-html = "trans('app.buttons.save.caption', {} )"  @click="btnSave()"></v-btn>
      <v-btn dark color="orange"  v-html = "trans('app.buttons.cancel.caption', {} )" @click="btnCancel()"></v-btn>
    </v-card-actions>
</span>    
</template>

<script>

import { mapGetters } from 'vuex'

export default {
    name: 'dsnEntityEditActions',
  
    props: {
		dsnEntity: {
			type      : String,
			required  : true,
			default() { return '' },
		},

        dsnData: {
			type      : Object,
			required  : true,
			default() { return {} },
		},
	}, // End of PROPS
    
    
    computed: {
     ...mapGetters([
        
    ]), // End of MapGetters

    }, // end of Computed
    
    components: {
    }, // End of COMPONENTS

    methods: {

        btnCancel() { dsn.warn(this, "btnCancel Clicked for Entity", this.dsnEntity) },
        
        btnSave()   { 
            dsn.warn(this, "btnSave Clicked... Saving Single Entity for", this.dsnEntity)
            dsn.warn(this, "btnSave Clicked... Data Object to be saved", this.dsnData) 
        },
  
    }, // End of Methods
     
    data: () => ({
    }), // End of Data
	
} 
// End of Export
</script>