<template>
    <v-toolbar card>
        <v-toolbar-side-icon @click.stop="btnToggleMiniDrawer()"></v-toolbar-side-icon>
        <v-toolbar-title class="title"><span v-html="trans(title, {} )"></span> with param {{dsnTest}}</v-toolbar-title>
    </v-toolbar>    
</template>

<script>

import { mapGetters } from 'vuex'
import mixinWrapper from '../../mixins/entities/Wrapper'

export default {
    name: 'dsnEntityWrapperToolbar',

    mixins: [mixinWrapper],
  
    props: {
		dsnEntity: {
			type      : String,
			required  : true,
			default() { return '' },
		},

        dsnTest: {
			type      : String,
			required: false,
			default() { return 'johnny' },
		},

	}, // End of PROPS
    
    
    computed: {
     ...mapGetters([
    ]), // End of MapGetters

    title() { return (this.dsnEntity + '.entity.single') },

    }, // end of Computed
    
    components: {
    }, // End of COMPONENTS

    data: () => ({
        showSearch: true
    }), // End of Data
    
    methods: {

        btnToggleSearch() { 
          this.showSearch = !this.showSearch
          dsn.shout('toggledShowSearch', this.showSearch) 
        },
        
    }, // End of Methods


    mounted() {
        // Inform the Wrapper ...
        dsn.shout('toggledShowSearch', this.showSearch)
    }, // End of mounted
     
    
	
} 
// End of Export
</script>