<template>
<v-toolbar card>
    <v-btn icon @click="btnToggleSearch()">
        <v-icon>{{iconToggleSearch}}</v-icon>
    </v-btn>
    <v-toolbar-title class="title"><span v-html="trans(title, {} )"></span> Details</v-toolbar-title>
    </v-toolbar>    
</template>

<script>

import { mapGetters } from 'vuex'
import mixinEdit from '../../mixins/entities/Edit'

export default {
    name: 'dsnEntityEditToolbar',

    mixins: [mixinEdit],
  
    props: {
		dsnEntity: {
			type      : String,
			required  : true,
			default() { return '' },
		},
	}, // End of PROPS
    
    
    computed: {
     ...mapGetters([
    ]), // End of MapGetters

    iconToggleSearch() { return this.showSearch ? 'keyboard_arrow_left' : 'search' },
    title() { return (this.dsnEntity + '.entity.single') },

    }, // end of Computed
    
    components: {
    }, // End of COMPONENTS

    data: () => ({
        showSearch: true
    }), // End of Data
    
    methods: {

        btnToggleSearch() { 
          this.showSearch = !this.showSearch
          dsn.shout('toggledShowSearch', this.showSearch) 
        },
        
        btnCancel() { dsn.warn(this, "btnCancel Clicked for Entity", this.dsnEntity) },
        
        btnSave()   { 
            dsn.warn(this, "btnSave Clicked... Saving Single Entity for", this.dsnEntity)
            dsn.warn(this, "btnSave Clicked... Data Object to be saved", this.dsnData) 
        },
  
    }, // End of Methods


    mounted() {
        // Inform the Wrapper ...
        dsn.shout('toggledShowSearch', this.showSearch)
    }, // End of mounted
     
    
	
} 
// End of Export
</script>