<template>
    <component :is='mainComponent'></component>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
    name: 'dsnRoot',
  
    computed: {
     ...mapGetters([
        'mainComponent',
    ]), // End of MapGetters

    }, // end of Computed
    
    components: {
    }, // End of COMPONENTS

    methods: {
    }, // End of Methods
     
    data: () => ({
    }), // End of Data
	
} 
// End of Export
</script>