<template>
<!-- Start MAIN Menu Bar -->
    <v-toolbar app fixed clipped-left height="40px" dark color="primary" class="bg-gradient">
        
        <v-toolbar-title class="white--text">
            <v-layout column class="ma-0">
                <div class="fs-18">3SN Playground</div>
                <div class="fs-12 fade-2 fw-400">Running on Vuetify v0.17.0</div>
            </v-layout>
        </v-toolbar-title>

          <v-spacer></v-spacer>

        <v-toolbar-items>

    
            <!-- Start HOME -->
            <v-btn flat exact dark v-show = "$can('public|user|admin')" class="dsn-btn-menumain" @click="btnChangeRoot('dsnPageHome')">
                <v-icon left dark>supervisor_account</v-icon>
                <span v-html="trans('app.menumain.home.caption', {} )"></span>
            </v-btn>
            <!-- End HOME -->    

            <!-- Start ENTITIES -->
            <v-btn flat exact dark v-show = "$can('public|user|admin')" class="dsn-btn-menumain" @click="btnChangeRoot('dsnPageEntities')">
                <v-icon left dark>supervisor_account</v-icon>
                <span v-html="trans('app.menumain.entities.caption', {} )"></span>
            </v-btn>
            <!-- End ENTITIES -->

            
            <!-- Start FRIENDS -->
            <v-menu offset-y>
                <v-btn flat exact dark v-show = "$can('user|admin')" class="dsn-btn-menumain" slot="activator">
                    <v-icon left dark>supervisor_account</v-icon>
                    <span v-html="trans('app.menumain.friends.caption', {} )"></span>
                </v-btn>
                <v-list>
                    <v-list-tile v-for="item in dd_items" :key="item.title" class="dsn-btn-menumain" @click="itemClick(item)">
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
            <!-- END FRIENDS -->


            <!-- Start ABOUT -->
            <v-btn flat exact dark v-show = "$can('public|user|admin')" class="dsn-btn-menumain" @click="btnChangeRoot('dsnPageAbout')">
                <v-icon left dark>supervisor_account</v-icon>
                <span v-html="trans('app.menumain.about.caption', {} )"></span>
            </v-btn>
            <!-- End ABOUT -->

            
            <!-- Start ADMIN -->
            <v-btn flat exact dark v-show = "$can('admin')" class="dsn-btn-menumain" @click="btnChangeRoot('dsnPageAdmin')">
                <v-icon left dark>supervisor_account</v-icon>
                <span v-html="trans('app.menumain.admin.caption', {} )"></span>
            </v-btn>
            <!-- End ADMIN -->

            <!-- Start ACCESS -->
            <!--
            <v-btn flat exact dark v-show = "$can('public|user|admin')" class="dsn-btn-menumain" @click="btnChangeRoot('dsnPageAccess')">
                <v-icon left dark>supervisor_account</v-icon>
                <span v-html="trans('app.menutop.access.login', {} )"></span>
            </v-btn>
            -->
            <!-- End ACCESS -->

        </v-toolbar-items>
        
        <v-spacer></v-spacer>
            <v-btn icon v-show = "true" @click="btnChangeRoot('dsnPageNYI')">
                <v-icon>search</v-icon>
            </v-btn>
            <v-btn icon v-show = "true" @click="btnChangeRoot('dsnPageNYI')">
                <v-icon>apps</v-icon>
            </v-btn>
            <v-btn icon v-show = "true" @click="btnChangeRoot('dsnPageNYI')">
                <v-icon>refresh</v-icon>
            </v-btn>
            <v-btn icon v-show = "true" @click="btnChangeRoot('dsnPageNYI')">
                <v-icon>more_vert</v-icon>
            </v-btn>
    </v-toolbar>
    <!-- End Main Menu bar -->
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: 'appMenuMain',

    components: {
    }, // End of COMPONENTS
   
    computed: {
    }, // End of Computed

    data: () => ({
        dd_items: [
            { title: 'Andrea',  method: 'gotoAndrea'},
            { title: 'Dana',     method: 'gotoDana'},
            { title: 'Raluca',     method: 'gotoRaluca'}
        ],
    }), // End of Data

    methods: {
        
		...mapActions([
            'changeMainComponent',
		]), // end of MapActions
        
        btnChangeRoot(compRoot) { this.changeMainComponent(compRoot) },

        // Assign different function based on chosen item...
        itemClick: function (item) {
    	    this[item.method]()
        },
  	
        gotoAndrea: function () {
            let compRoot = 'dsnPageAndrea'
    	    this.changeMainComponent(compRoot)
        },
    
        gotoDana: function () {
            let compRoot = 'dsnPageDana'
    	    this.changeMainComponent(compRoot)
        },

        gotoRaluca: function () {
            let compRoot = 'dsnPageRaluca'
    	    this.changeMainComponent(compRoot)
        },
    }, // End of Methods

}
// End of Export
</script>

<style scoped>
/*
text-transform: none|capitalize|uppercase|lowercase|initial|inherit;
font-weight: normal|bold|bolder|lighter|number|initial|inherit;
*/
.dsn-btn-menumain {
  text-transform: none;
  font-weight: normal;
}
</style>
