<template>
<!-- Start System bar -->
    <v-system-bar fixed app status dark color="orange">
                 
        <v-spacer></v-spacer>

        <span v-if="(! bIsLoggedIn)">
            <!-- Start Login Button -->
            <v-btn flat dark class="dsn-btn-menutop" @click="btnLogin()">
                <v-icon light left>lock_open</v-icon><span v-html="trans('app.menutop.access.login', {} )"></span>
            </v-btn>
            <!-- End Login Button -->
        </span>
        <span v-else>
            <!-- Start Logout Button -->
            <v-btn flat dark class="dsn-btn-menutop" @click="btnLogout()">
                <v-icon light left>lock</v-icon><span v-html="trans('app.menutop.access.logout', {} )"></span>
            </v-btn>
            <!-- End Logout Button -->
        </span>


         <!-- Start Permission Selector -->
        <v-menu offset-y>
            <v-btn flat dark slot="activator" class="dsn-btn-menutop">{{labelPermission}}
                <v-icon light right>keyboard_arrow_down</v-icon>
            </v-btn>
            <v-list>
                <v-list-tile v-for="item in permissions" :key="item.value" @click="btnChangePermission(item.value)">
                    <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-menu>
        <!-- End Language Selector -->   


        <!-- Start Language Selector -->
        <v-menu offset-y >
            <v-btn flat dark slot="activator" class="dsn-btn-menutop">{{labelLanguage}}
                <v-icon light right>keyboard_arrow_down</v-icon>
            </v-btn>
            <v-list>
                <v-list-tile v-for="item in languages" :key="item.value" @click="changeLanguage(item.value)">
                    <v-list-tile-action>
                      <v-icon v-if="item.icon" color="pink">star</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-menu>
        <!-- End Language Selector -->

        <v-icon>network_wifi</v-icon>
        <v-icon>signal_cellular_null</v-icon>
        <v-icon>battery_full</v-icon>
        <span>12:45</span>
      </v-system-bar>
    
    <!-- End System bar -->
</template>

<script>

import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'


export default {
    name: 'appMenuTop',
    
    computed: {
        ...mapGetters([
            'thePermission',
            'theLanguage',
        ]), // End of mapActions


        bIsLoggedIn() {
            // return (this.thePermission === 'public') ? false : true
            return (this.thePermission != 'public')
        },

        // *** Start Language Stuff
        labelLanguage() {return dsn.trans(this, 'app.menutop.language.label', {}) },
        languages() {
            return (
                [
                    {value: 'en' , icon: (this.theLanguage == 'en'), text: dsn.trans(this, 'app.menutop.language.english', {})  },
                    {value: 'nl' , icon: (this.theLanguage == 'nl'), text: dsn.trans(this, 'app.menutop.language.dutch'  , {})  },
                ]
            ) // End of Return
        }, // End of Languages

        // *** End Language Stuff

        // *** Start Permission Stuff
        labelPermission() {return dsn.trans(this, 'app.menutop.permission.label', {}) },
        permissions() {
            return (
                [
                    {value: 'admin',  text: dsn.trans(this, 'app.menutop.permission.admin' , {})  },
                    {value: 'user',   text: dsn.trans(this, 'app.menutop.permission.user'  , {})  },
                    {value: 'public', text: dsn.trans(this, 'app.menutop.permission.public', {}) },
                ]
            ) // End of Return
        }, // End of Permission

        // *** End Permission Stuff


    }, // End of Computed
    
    data: () => ({
    //
    }), // End of Data
  
    methods: {
        ...mapActions([
            'changeLanguage',
            'changePermission',
            'changeMainComponent',
        ]), // End of mapActions

        trans(s, o) { return dsn.trans(this, s, o)},

        

        btnChangePermission(permission) {
            this.changePermission(permission)
            this.access = this.thePermission
        },

        btnLogin() {
            // goto LoginPage (AccessPage)
            let compRoot = 'dsnPageAccess'
    	    this.changeMainComponent(compRoot)
        },
        
        btnLogout() {
            // set Access to 'public'
            this.changePermission('public')
            this.access = this.thePermission

            // goto the HomePage
            let compRoot = 'dsnPageHome'
    	    this.changeMainComponent(compRoot)
        },

    }, // End of Methods

} 
// End of Export
</script>

<style scoped>
/*
text-transform: none|capitalize|uppercase|lowercase|initial|inherit;
font-weight: normal|bold|bolder|lighter|number|initial|inherit;
*/
.dsn-btn-menutop {
  text-transform: none;
  font-weight: normal;
}
</style>