<template>
<!-- Start DRAWER Menu Bar -->
<v-navigation-drawer v-model="dsnDrawer" fixed app clipped :mini-variant.sync="dsnMiniDrawer">
    <v-list dense>

        <v-list-tile exact v-for="item in items" :key="item.routeName" :to = "{name: item.routeName, params: item.routeParams }">
            <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-title v-html="trans(item.title,{})"></v-list-tile-title>
        </v-list-tile>
    
    </v-list>
</v-navigation-drawer>
<!-- End   DRAWER Menu bar -->
</template>

<script>

import { mapActions } from 'vuex'


export default {
    name: 'appMenuDrawer',

    components: {
    }, // End of Components
    
    computed: {
    }, // End of Computed


    data: () => ({

      dsnDrawer: true,      
      dsnMiniDrawer: false,

      items: [
        { title: 'players.entity.plural',  icon: 'person'           , routeName: 'entityPlayers'    , routeParams: {dsnTest: 'Spelerskes'}},
        { title: 'teams.entity.plural',    icon: 'people'           , routeName: 'entityTeams'      , routeParams: {dsnTest: 'De Teams'}},
        { title: 'sponsors.entity.plural', icon: 'attach_money'     , routeName: 'entitySponsors'   , routeParams: {dsnTest: 'Money'}},
        { title: 'cities.entity.plural',   icon: 'dashboard'        , routeName: 'entityCities'     , routeParams: {dsnTest: 'Where'}},
        { title: 'sports.entity.plural',   icon: 'question_answer'  , routeName: 'entitySports'     , routeParams: {dsnTest: 'Playtype'}}
      ],
    }), // End of Data

    methods: {
        
		...mapActions([
      		// 'changeAppComponent',
		]), // end of MapActions
        
        
        trans(s, o) { return dsn.trans(this, s, o)},

        // Doesn't Trigger the Exact Property ...
        btnWrapper(entity) {
            // Not Yet Implemented
            this.$router.push({
                name: entity,
                 params: {
                   
                }
             })
        }, // End of btnWrapper

        onChangeMiniDrawer(bNewValue) { this.dsnMiniDrawer = bNewValue },
    }, // End of Methods


    // Start Hooks.

    mounted() {
      dsn.listen('changedMiniDrawer', this.onChangeMiniDrawer)
	},

}
// End of Export
</script>