<template>
<v-content>

  <v-container fluid fill-height grid-list-md>

    <v-layout row wrap>
      <v-flex>
        <h1 v-html="trans('app.pages.about.title', {} )"></h1>
        <h2 v-lang.app.pages.about.title="{}"></h2>
        <h3>{{theTitle}}</h3>
        <!--
        <h4 v-show  = "$can('admin')">Admin</h4>
        <h4 v-show  = "$can('user')">User</h4>
        <h4 v-show  = "$can('public')">Public</h4>
        -->
        <h5>Current Permission {{thePermission}}</h5>
      </v-flex>
    </v-layout>

  </v-container>

</v-content>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
	name: 'dsnPageAbout',
  
	computed: {
    ...mapGetters([
      'thePermission',
    ]), // End of MapGetters

    theTitle()  { return (dsn.trans(this, 'app.pages.about.title', {})) },
      }, // end of Computed

  methods: {
    trans(s, o) { return dsn.trans(this, s, o)},
  }, // End of Methods
     
  data: () => ({
    //
  }), // End of Data
	
} 
// End of Export
</script>