<template>
<v-content>
	
	<v-container fluid fill-height class="yellow">
		<v-layout justify-center align-center class="pink">
			
			<v-flex xs4>
				<v-card color="blue">
				<v-container>
					<v-form class="signin">
					<v-card-text>
						<h5 class="headline white--text">Sign in</h5>
						<p class="white--text">(No validation implemented yet... just click a button...)</p>
						<v-layout row>
						<v-flex xs12>
							<v-text-field dark label="Mail" type="email" required></v-text-field>
						</v-flex>
						</v-layout>
						<v-layout row>
						<v-flex xs12>
							<v-text-field dark label="Password" type="password" required></v-text-field>
						</v-flex>
						</v-layout>
					</v-card-text>
					<v-card-actions>
						<v-btn @click="btnCancel()">Cancel</v-btn>
						<v-spacer></v-spacer>
						<v-btn color="primary" @click="btnChangePermission('admin')">Admin</v-btn>
						<v-btn color="orange"  @click="btnChangePermission('user')">User</v-btn>
						<v-btn color="success" @click="btnChangePermission('public')">Public</v-btn>
					</v-card-actions>
					</v-form>
				</v-container>
				</v-card>
			</v-flex>
			
		</v-layout>
	</v-container>
	
</v-content>
</template>

<script>

import { mapActions } from 'vuex'

export default {
	name: 'dsnPageAccess',
  
	computed: {
      theTitle()  { return (dsn.trans(this, 'app.pages.home.title', {})) },
      }, // end of Computed

  methods: {
    ...mapActions([
        'changeMainComponent',
				'changePermission',
		]), // end of MapActions
		
		trans(s, o) { return dsn.trans(this, s, o)},

		btnChangePermission(permission) {
      this.changePermission(permission)
      this.access = this.thePermission
			
			// Goto Homepage
			let compRoot = 'dsnPageHome'
    	this.changeMainComponent(compRoot)
    },

		btnCancel() {
      // Goto Homepage
			let compRoot = 'dsnPageHome'
    	this.changeMainComponent(compRoot)
    },


  }, // End of Methods
     
  data: () => ({
    //
  }), // End of Data
	
} 
// End of Export
</script>

<style scoped>
.signin .primary--text {
  color: #fff !important;
}
</style>