<template>
<v-content>
        <v-container>
          <v-layout row wrap align-center>
            <v-flex xs12 md4>
              <div class="text-xs-center">
                <v-avatar size="125px">
                  <img
                    class="img-circle elevation-7 mb-1"
                    src="/static/andrea.png"
                  >
                </v-avatar>
                <h3>Andrea <span style="font-weight:bold">Varga</span></h3>
                <h5 class="text-xs-center">Lorem ipsum dolor sit amet</h5>
                <h4 v-show  = "$can('admin')">You're logged in as Admin</h4>
                <h4 v-show  = "$can('user')">You're logged in as User</h4>
                <h4 v-show  = "$can('public')">You're logged in as Public</h4>
                <!--
                <v-layout justify-space-between>
                  <a href="javascript:;" class="body-2">Home</a>
                  <a href="javascript:;" class="body-2">About</a>
                  <a href="javascript:;" class="body-2">Github</a>
                  <a href="javascript:;" class="body-2">Other</a>
                </v-layout>
                -->
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
</template>


<script>

export default {
	name: 'dsnPageAndrea',
  
	computed: {
  }, // end of Computed

  methods: {
    trans(s, o) { return dsn.trans(this, s, o)},
  }, // End of Methods
     
  data: () => ({
    //
  }), // End of Data
	
} 
// End of Export
</script>