<template>

    <div>

    <appMenuDrawer></appMenuDrawer>
    
    <v-content>
    
    <router-view></router-view>

    </v-content>

    </div>
</template>

<script>
  
  import { mapActions } from 'vuex'
  import { mapGetters } from 'vuex'

  export default {

    name: 'dsnPageEntities',
    
    computed: {
       ...mapGetters([
      //  'appComponent',
      ]), // End of MapGetters

    }, // End of Computed
    
    
   data: () => ({
    mini: true,
    drawer: null, // Not used anymore
    items: [
      { id: 1, title: 'Clients', icon: 'dashboard' },
      { id: 2, title: 'Products', icon: 'question_answer' },
      { id: 3, title: 'Suppliers', icon: 'question_answer' }
    ],
    
    items2: [
      { id: 1, title: 'Acer Portable' },
      { id: 2, title: 'Lenovo Desktop' },
      { id: 3, title: 'BENQ Screen' }
    ],
    
    showSearch: true
  }),
  
  computed: {
    detailsIcon() {
      return this.showSearch
        ? 'keyboard_arrow_left'
        : 'search'
    }
  },
  
  methods: {
    ...mapActions([
      'changeMiniDrawer',
		]), // end of MapActions

    btnChangeMiniDrawer() {
      console.log("btnToggleDrawer Clicked")
      this.mini = !this.mini
      // this.changeMiniDrawer(this.mini)
      dsn.shout('changedMiniDrawer', this.mini)
		},
    
    btnToggleSearch() {
      this.showSearch = !this.showSearch
		},
    
    btnCancel() {
			console.log("btnCancel Clicked")
  	},
		  
    btnSave() {
			console.log("btnSave Clicked")
  	},
  },
  
  } // End of Export

</script>
<style scoped>

/*
.navigation-drawer--card {
  position: unset !important;
}
*/


</style>
