<template>
<v-content>

  <v-container fluid fill-height grid-list-md>

    <v-layout row wrap>
      <v-flex>
        <h1 v-html="trans('app.pages.home.title', {} )"></h1>
        <h2 v-lang.app.pages.home.title="{}"></h2>
        <h3>{{theTitle}}</h3>
        <h5>Current Permission {{thePermission}}</h5>
        <p>{{theVersion}}</p>
        <p>{{myversion}}</p>
      </v-flex>
    </v-layout>

  </v-container>

</v-content>
</template>

<script>


import { mapGetters } from 'vuex'

export default {
	name: 'dsnPageHome',
  
  
  computed: {
    ...mapGetters([
      'thePermission',
    ]), // End of MapGetters

    theTitle()  { return (dsn.trans(this, 'app.pages.home.title', {})) },

    myversion() { return 'johnny'},

  }, // end of Computed

  methods: {
    // trans(s, o) { return dsn.trans(this, s, o)},
  }, // End of Methods
     
  data: () => ({
    //
  }), // End of Data

  	
} 
// End of Export
</script>