<template>
 <v-content>
      <v-container fluid fill-height grid-list-md>
        <v-layout row wrap>

      <v-flex>
        <h1 v-html="trans('app.pages.nyi.title', {} )"></h1>
        <h2 v-lang.app.pages.nyi.subtitle="{}"></h2>
        <h3 v-lang.app.pages.nyi.comment="{}"></h3>
        <h4 v-show  = "$can('admin')">Admin</h4>
        <h4 v-show  = "$can('user')">User</h4>
        <h4 v-show  = "$can('public')">Public</h4>
      </v-flex>
    </v-layout>
  </v-layout>
  </v-container>
  </v-content>
</template>

<script>

export default {
	name: 'dsnPageNYI',
  
	computed: {
      theTitle()  { return (dsn.trans(this, 'app.pages.nyi.title', {})) },
      }, // end of Computed

  methods: {
    trans(s, o) { return dsn.trans(this, s, o)},
  }, // End of Methods
     
  data: () => ({
    //
  }), // End of Data
	
} 
// End of Export
</script>