<template>
  <v-container fill-height>

<img src="/static/v.png" alt="Vuetify.js" class="mb-5">
              <blockquote>
                &#8220;SPORTS ... First, solve the problem. Then, write the code.&#8221;
                <footer>
                  <small>
                    <em>&mdash;John Johnson</em>
                  </small>
                </footer>
              </blockquote>
			  
  </v-container>
			  
			  </template>

<script>

// import { mapGetters } from 'vuex'
// import { mapActions } from 'vuex'

export default {
	name: 'pagesSPORTS',
  
	computed: {
      theTitle()  { return (dsn.trans(this, 'app.pages.about.title', {})) },
      }, // end of Computed

  methods: {
    trans(s, o) { return dsn.trans(this, s, o)},
  }, // End of Methods
     
  data: () => ({
    //
  }), // End of Data
	
} 
// End of Export
</script>