/** Stylus Styles */
// @import '../../node_modules/vuetify/src/stylus/settings/_colors'


$theme := {
  primary: $blue.darken-2
  accent: $red.accent-2
  secondary: $grey.lighten-1
  
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
  
  // Own defined colors
  jocol: $green.darken-2
  tertiary: $orange.darken-2
  
  dsn-systembar: $blue.darken-4
  
}



.bg-gradient {
  background: linear-gradient(0deg, rgba(3,124,227,1) 0%, rgba(2,109,201,1) 49%, rgba(3,124,227,1) 51%, rgba(76,162,235,1) 100%);
}
.fs-18 {
  font-size: 18px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fade-1 {
  opacity: 0.87
}
.fade-2 {
  opacity: 0.7
}
.fade-3 {
  opacity: 0.54
}

.wrapper {
  position: relative;
  height: 500px;
}
