<template>

  
  <v-card flat color="grey lighten-4">  
    <dsnEntityEditToolbar :dsnEntity="entity"></dsnEntityEditToolbar>
    
    <!-- Start 'Form' -->
    <v-card-text>
      <v-container fluid grid-list-sm>
        <v-layout>
          <v-flex xs4>
            <v-text-field label="Name"  v-model="dtaEntity.name"></v-text-field>
            <v-text-field label="Price" v-model="dtaEntity.price"></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <!-- End 'Form' -->
        
    <dsnEntityEditActions :dsnEntity="entity" :dsnData="dtaEntity"></dsnEntityEditActions>
    
  </v-card>
</template>

<script>
  
  import { mapActions } from 'vuex'
  import { mapGetters } from 'vuex'

  // import mixinEdit from '../../../mixins/entities/Edit'

  export default {

    name: 'dsnPlayersEdit',

    // mixins: [mixinEdit],

    props: {
	  }, // End of PROPS
    
    computed: {
       ...mapGetters([
      ]), // End of MapGetters

    }, // End of Computed
  
    data: () => ({
      entity          : 'players',
      
      dtaEntity       : {
        name: 'Kompany',
        price: 5000,
      },

    }), // End of Data
  
    methods: {
      ...mapActions([
      
		  ]), // end of MapActions

    }, // End of Methods


    

  } // End of Export

</script>
<style scoped>

</style>
