<template>
<v-navigation-drawer permanent floating class="pa-3 green lighten-4 navigation-drawer--card">
  <!-- Start Search Fields -->
  <v-text-field solo class="elevation-0 mb-3" placeholder="Search" prepend-icon="search"></v-text-field>
  <!-- End Search Fields -->
                  
  <v-list dense class="white">
    <v-list-tile v-for="entity in dtaEntities" :key="entity.id" @click="">
      <v-list-tile-title>{{ entity.title }}</v-list-tile-title>
    </v-list-tile>
  </v-list>
</v-navigation-drawer>
</template>

<script>
  
  import { mapActions } from 'vuex'
  import { mapGetters } from 'vuex'

  import mixinSelector from '../../../mixins/entities/Selector'

  export default {

    name: 'dsnCitiesSelector',

    mixins: [mixinSelector],

    props: {
		  
	  }, // End of PROPS

    computed: {
       ...mapGetters([
      ]), // End of MapGetters

    }, // End of Computed

    components: {
    }, // End of Components
  
    data: () => ({
    
      dtaEntities: [
        { id: 1, title: 'Antwerp' },
        { id: 2, title: 'Brussels' },
        { id: 3, title: 'Herentals' }
      ],
      
    }), // End of Data
  
    methods: {
      ...mapActions([
        
		  ]), // end of MapActions

    }, // End of Methods

  } // End of Export

</script>
<style scoped>

</style>
