<template>
  <v-container fluid fill-height grid-list-md>
    <v-layout>
      <v-flex xs12 d-flex>
        <v-card>
          
          <dsnEntityWrapperToolbar :dsnEntity="entity" :dsnTest="dsnTest"></dsnEntityWrapperToolbar>

          <!-- Start Wrapper Content -->    
          <v-container fluid grid-list-xl>
            <v-layout>
              
              <!-- Start Selector -->
              <v-flex v-if="showSearch">
                <!-- <dsnSponsorsSelector></dsnSponsorsSelector> -->
                <component :is="dsnSelector"></component>
              </v-flex>
              <!-- End Selector -->

              <!-- Start Edit -->    
              <v-flex :class="{ 'xs10': showSearch, 'xs12': !showSearch }">
                <!-- <dsnSponsorsEdit></dsnSponsorsEdit> -->
                <component :is="dsnEdit"></component>
              </v-flex>
              <!-- End Edit -->
              
            </v-layout>
          </v-container>
          <!-- End Wrapper Content -->


        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  
</template>

<script>
  
  import { mapActions } from 'vuex'
  import { mapGetters } from 'vuex'

  import mixinWrapper from '../../../mixins/entities/Wrapper'

  import dsnEdit      from './Edit'
  import dsnSelector  from './Selector'

  export default {

    name: 'dsnSponsorsWrapper',

    mixins: [mixinWrapper],

    props: {
		  dsnTest: {
			  type      : String,
			  required: false,
			  default() { return 'johnny' },
		  },
	  }, // End of PROPS

    computed: {
       ...mapGetters([
      ]), // End of MapGetters

    }, // End of Computed

    components: {
      dsnSponsorsEdit     : dsnEdit,
      dsnSponsorsSelector : dsnSelector,
    }, // End of Components
    
    data: () => ({
      entity          : 'sponsors',
      miniDrawer      : true,
      showSearch      : true, // Will be overwritten when mounted...

      dsnEdit         : dsnEdit,
      dsnSelector     : dsnSelector,
    }), // End of Data
    
    
  
    methods: {
      ...mapActions([
      ]), // end of MapActions

    }, // End of Methods

  } // End of Export

</script>
<style scoped>

</style>
