<template>
  <v-app id="inspire">
    <appMenuTop></appMenuTop>
    <appMenuMain></appMenuMain>
    <dsnRoot></dsnRoot>
  </v-app>
</template>

<script>
  export default {
    computed: {
    }, // End of Computed
    
    data: () => ({
    }), // End of Data
  
    methods: {
    }, // End of Methods
  
  } // End of Export
</script>

<style scoped>
</style>
