<template>
 <v-app id="inspire">
    <appMenuTop></appMenuTop>
    <appMenuMain></appMenuMain>	
	  
    <v-navigation-drawer app v-model="drawer">
      <v-list dense>
        <v-list-tile v-for="item in items" :key="item" @click="">
          <v-list-tile-title>{{ item }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container fluid fill-height grid-list-md>
        <v-layout>
          <v-flex xs12 d-flex>
            <v-card>
              <v-toolbar card>
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-toolbar-title class="title">Products via John</v-toolbar-title>
              </v-toolbar>
              <v-container fluid grid-list-xl>
                <v-layout>
                  <v-flex>
                    <v-navigation-drawer permanent floating class="pa-3 grey lighten-4 navigation-drawer--card">
                      <v-text-field solo class="elevation-0 mb-3" placeholder="Search" prepend-icon="search"></v-text-field>
                      <v-list dense class="white">
                        <v-list-tile v-for="item in items2" :key="item" @click="">
                          <v-list-tile-title>{{ item }}</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-navigation-drawer>
                  </v-flex>
                  <v-flex xs10>
                    <v-card flat color="grey lighten-4">
                      <v-toolbar card>
                        <v-btn icon>
                          <v-icon>keyboard_arrow_left</v-icon>
                        </v-btn>
                        <v-toolbar-title class="title">Product Details</v-toolbar-title>
              </v-toolbar>
                      </v-toolbar>
                      <v-card-text>
                        <v-container fluid grid-list-sm>
                          <v-layout>
                            <v-flex xs4>
                              <v-text-field label="Name" value="Lenovo Desktop"></v-text-field>
                              <v-text-field label="Price" value="100"></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-card-text>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" dark>Save</v-btn>
                        <v-btn color="orange" dark>Cancel</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
    drawer: null,
    items: ['Clienttts', 'Products', 'Suppliers'],
    items2: ['Acer Portable', 'Lenovo Desktop', 'BENQ Screen']
  })
  }

</script>
<style scoped>
.navigation-drawer--card {
  position: unset !important;
}
</style>
