<template>
 
  <v-app id="inspire">
    <appMenuTop></appMenuTop>
    <appMenuMain></appMenuMain>
    <v-content>
      <dsnRoot></dsnRoot>
    </v-content>
  </v-app>

</template>

<script>
  
  

  import { mapGetters } from 'vuex'

  export default {

    
    computed: {
       ...mapGetters([
      //  'appComponent',
      ]), // End of MapGetters

    }, // End of Computed
    
    
    data: () => ({
    }), // End of Data

    methods: {
    }, // End of Methods

    mounted() {
    },
  
  } // End of Export

</script>
<style scoped>

/*
.navigation-drawer--card {
  position: unset !important;
}
*/


</style>
