<template>
  <v-app>
	  <appMenuTop></appMenuTop>	
	  <appMenuMain></appMenuMain>
    <main>
      <v-content fluid>
        <router-view></router-view>
      </v-content>
    </main>
    
    <v-footer :fixed="fixed" app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        clipped: false,
        drawer: true,
        fixed: true,
        items: [{
          icon: 'bubble_chart',
          title: 'Inspire'
        }],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js'
      }
    },

    methods: {
		  btnList() {
			  dsn.warn(this, "btnList Clicked")
		  },
    },  

  }

</script>
